# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables:
*.out

# Xcode symbol files:
*.dSYM

# OSX things:
.DS_Store

# VS C# artifacts
bin
obj

# VS Solution files
.suo
ATCSMon/ATCSMon-Image-Processor/ATCSMon-Image-Processor.v12.suo

# Vagrant temp files and such:
.vagrant

*.exe
*.mdb
*.vscode
