# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# VS C# artifacts
bin
obj

# VS Solution files
.suo
ATCSMon/ATCSMon-Image-Processor/ATCSMon-Image-Processor.v12.suo
