[project]
	description = erben22 git repository for various tinkerings.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cody Erben (erben22)
[access "refs/for/refs/*"]
	read = group user/Cody Erben (erben22)
	push = group user/Cody Erben (erben22)
	label-Code-Review = -2..+2 group user/Cody Erben (erben22)
	label-Verified = -1..+1 group user/Cody Erben (erben22)
	rebase = group user/Cody Erben (erben22)
	removeReviewer = group user/Cody Erben (erben22)
	submit = group user/Cody Erben (erben22)
[access "refs/heads/*"]
	read = group user/Cody Erben (erben22)
	create = group user/Cody Erben (erben22)
	push = +force group user/Cody Erben (erben22)
	pushMerge = group user/Cody Erben (erben22)
[access "refs/tags/*"]
	push = +force group user/Cody Erben (erben22)
	pushTag = group user/Cody Erben (erben22)
	pushSignedTag = group user/Cody Erben (erben22)
